body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #100a0a;
    color: red;
    text-align: center;
    padding: 50px 20px;
  }
  
  header h1 {
    font-size: 3rem;
  }
  
  header p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  header .btn {
    background-color: #6600ff;
    color: blue;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  section {
    max-width: 800px;
    margin: 40px auto;
    background: cyan;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  section h2 {
    color: #1a73e8;
    margin-bottom: 20px;
  }
  
  #speakers .speaker {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #speakers .speaker img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }
  
  #schedule ul {
    list-style-type: none;
    padding: 0;
  }
  
  #schedule ul li {
    padding: 10px 0;
    border-bottom: 1px solid green;
  }
  
  form label {
    display: block;
    margin-top: 10px;
  }
  
  form input, form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
  }
  
  form button {
    margin-top: 20px;
    background-color: #1a73e8;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  form button:hover {
    background-color: #0a58ca;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }
